[submodule "3rd_party/osqp"]
	path = 3rd_party/osqp
	url = https://github.com/itadera/osqp
[submodule "3rd_party/osqp-eigen"]
	path = 3rd_party/osqp-eigen
	url = https://github.com/itadera/osqp-eigen
[submodule "3rd_party/magic_enum"]
	path = 3rd_party/magic_enum
	url = https://github.com/itadera/magic_enum.git
[submodule "3rd_party/dmpbbo"]
	path = 3rd_party/dmpbbo
	url = https://github.com/itadera/dmpbbo.git
[submodule "3rd_party/stb"]
	path = 3rd_party/stb
	url = https://github.com/itadera/stb
[submodule "3rd_party/OpenXR-SDK"]
	path = 3rd_party/OpenXR-SDK
	url = https://github.com/itadera/OpenXR-SDK.git
