<?xml version="1.0"?>
<launch>
  <!-- <arg name="priority" default="Manual" /> -->

  <node name="marker_teleoperation" pkg="ohrc_teleoperation" type="marker_teleoperation"  respawn="false" output="screen">
    <rosparam command="load" file="$(find ohrc_teleoperation)/example/fetch/fetch_control_config_pos_trj.yaml" />
    <rosparam command="load" file="$(find ohrc_teleoperation)/config/marker_config.yaml" />
    <!-- <param name="priority" value="$(arg priority)" /> -->
  </node>


  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ohrc_teleoperation)/example/teleoperation.rviz"/>

</launch>
