<?xml version="1.0"?>
<launch>
  <arg name="robot" default="ur5e" />
  <arg name="controller" default="vel" /> <!-- vel or vel_trj or vel_pos -->
  <arg name="spacenav" default="false" />

  <node name="joy_topic_teleoperation" pkg="ohrc_teleoperation" type="joy_topic_teleoperation"  respawn="false" output="screen">
    <rosparam command="load" file="$(find ohrc_teleoperation)/example/$(arg robot)/$(arg robot)_control_config_$(arg controller).yaml" />
    <rosparam command="load" file="$(find ohrc_teleoperation)/config/joy_topic_config.yaml" />
  </node>

  <node pkg="spacenav_node" type="spacenav_node" name="spacenav_node" output="log" if="$(arg spacenav)">
    <param name="zero_when_static" value="false"/>
    <param name="static_trans_deadband" value="0.01"/>
    <param name="static_rot_deadband" value="0.01"/>
  </node>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ohrc_teleoperation)/config/teleoperation.rviz"/>
</launch>
