<?xml version="1.0"?>
<launch>
  <arg name="robot" default="ur5e" />
  <arg name="controller" default="vel" /> <!-- vel or vel_trj or vel_pos -->
  <arg name="interface" default="marker" />
  <arg name="enableEefForceAdmittance" default="false" />

  <arg name="hw_config" default="$(find ohrc_hw_config)/$(arg robot)/$(arg robot)_hw_config.yaml" />
  <arg name="admittance_config" default="$(find ohrc_control)/config/admittance_config.yaml" />
  <arg name="control_config" default="$(find ohrc_hw_config)/$(arg robot)/$(arg robot)_control_config_$(arg controller).yaml" />
  <arg name="interface_config" default="$(find ohrc_teleoperation)/config/$(arg interface)_config.yaml" />

  <arg name="rviz_config" default="$(find ohrc_teleoperation)/config/teleoperation.rviz" />

  <rosparam command="load" file="$(arg hw_config)" />
  <rosparam command="load" file="$(arg admittance_config)" />

  <node name="$(arg interface)_teleoperation" pkg="ohrc_teleoperation" type="$(arg interface)_teleoperation"  respawn="false" output="screen">
    <rosparam command="load" file="$(arg control_config)" />
    <rosparam command="load" file="$(arg interface_config)" />
    <param name="enableEefForceAdmittance" value="$(arg enableEefForceAdmittance)" />
  </node>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config)" />

</launch>
