<?xml version="1.0"?>
<launch>
  <arg name="robot" default="ur5e" />
  <arg name="controller" default="vel" /> <!-- vel or vel_trj or vel_pos -->

  <node name="omega_teleoperation" pkg="ohrc_teleoperation" type="omega_teleoperation"  respawn="false" output="screen">
    <rosparam command="load" file="$(find ohrc_hw_config)/$(arg robot)/$(arg robot)_control_config_$(arg controller).yaml" />
    <rosparam command="load" file="$(find ohrc_teleoperation)/config/omega_config.yaml" />
  </node>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ohrc_teleoperation)/config/teleoperation.rviz"/>
</launch>
