<?xml version="1.0"?>
<launch>
  <!-- <arg name="priority" default="Manual" /> -->

  <node name="state_topic_teleoperation" pkg="ohrc_teleoperation" type="state_topic_teleoperation"  respawn="false" output="screen">
    <rosparam command="load" file="$(find ohrc_teleoperation)/example/ur5e_control_config.yaml" />
    <!-- <rosparam command="load" file="$(find ohrc_teleoperation)/config/omega_config.yaml" /> -->
    <!-- <param name="priority" value="$(arg priority)" /> -->
  </node>
</launch>
