<?xml version="1.0"?>
<launch>
  <arg name="robot" default="ur5e" />
  <arg name="controller" default="vel" /> <!-- vel or vel_trj or vel_pos -->
  <arg name="feedback_mode" default="HybridFeedback" />
  <arg name="user_frame_viewpoint" default="back" />
  <arg name="use_rviz" default="true" />

  <include file="$(find ohrc_teleoperation)/launch/ohrc_teleoperation.xml">
    <arg name="interface" value="xr_body" />

    <arg name="robot" value="$(arg robot)" />
    <arg name="controller" value="$(arg controller)" />
    <arg name="feedback_mode" value="$(arg feedback_mode)" />
    <arg name="user_frame_viewpoint" value="$(arg user_frame_viewpoint)" />
    <arg name="use_rviz" value="$(arg use_rviz)" />
  </include>

  <include file="$(find ros_tcp_endpoint)/launch/endpoint.launch" />

</launch>
